.donations-chart{
  width: 100%;
  position: absolute;
  bottom: 15px;
  rect{
    fill: $lighterBlue;
  }
  path.domain{
    display: none;
  }
  .x.axis{
    g.tick{
      text{
        fill: rgba(255, 255, 255, 0.4);
      }
      line{
        stroke: rgba(255, 255, 255, 0.4);
      }
    }
  }
  .y.axis{
    g.tick{
      text{
        fill: black;
        text-anchor: start;
        text-transform: uppercase;
        font-size: 12px;
        font-family: $font-sans;
        letter-spacing: 1px;
      }
      line{
        display: none;
      }
    }
  }

}
