.panel--city{
  font-family: $font-sans;
  font-weight: 300;
  .js-header-frame.header__frame{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;

  }
  .kicker__hed{
    font-size: 32px;
    letter-spacing: 0.8px;
    margin-block-end: 0em;
  }
  .kicker__subhed{
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1px;
      margin-block-start: 0.5em;
  }
  span.js-city.number--big{
    font-size: 172px;
    // font-weight: 700;
    text-transform: uppercase;
    font-family: $hed;
  }
}
span.js-donations-total.number--big{
  font-family: $hed;
  font-size: 172px;
  text-transform: uppercase;

}
span.js-donations-bucket.number--medium{
  font-family: $hed;
  font-size: 80px;
  line-height: 30px;
  text-transform: uppercase;
  color: $blue;
  letter-spacing: 2px;
}
