// Fonts
@font-face {
    font-family: 'TIMMONS_NY_FINAL';
    src: url('~/fonts/TIMMONS_NY_FINAL.woff2');
}

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,700');

$hed: 'TIMMONS_NY_FINAL', Arial, Helvetica, sans-serif;
$font-sans: 'IBM Plex Mono', monospace;


// Colors
$blue: #0072BC;
$lighterBlue: #E5F0F8;

// Import Style Modules
@import "./components/barChart";
@import "./components/panelCity";
@import "./components/panelGifts";

// Responsive


// @import "_test-partial.scss";

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: white;
  color: blue;
  display: flex;
  flex-direction: row;
}

.panel--city,
.panel--gift {
  position: relative;
  width: 50vw;
  height: 100vh;
  text-align: center;
  color: #333;
}

.panel--city {
  // background-color: pink;
  // align-items: flex-start;
}

.panel--gift {
  background-color: #4c95eb;
}

.header {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  .header__frame {
    opacity: 0;
    transition: opacity 0.5s;

    &.active {
      opacity: 1;
    }
  }
}

.donations-chart{

  align-self: flex-end;
}

.panel--gift .header{
  font-family: $font-sans;
  color: white;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
